[Desktop Entry]
Version=1.0
Type=Application
Name=Robot Control
Comment=Launch Robot GUI and AI Server
Exec={{PROJECT_ROOT}}/start_robot_system.sh
Icon={{PROJECT_ROOT}}/frontend/resource/images/UIT_logo.png
Path={{PROJECT_ROOT}}
Terminal=true
Categories=Utility;Development;
